@font-face {
    font-family: 'Affald';
    src: url("../eamondesign/fonts/Affald.ttf") format('truetype');
    font-style: normal;
}

body {
  font-family: 'Affald', sans-serif;
  background-color: #ffb0ef;
}
